---
site: CPSC 349 - Fall 2022 - Project 1
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} - {{ site }}</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>

<body>
    <!-- Header -->
    <header>
        <nav>
            <h3> Group 9 </h3>
            <ul>
                {%- for page in collections.navigation %}
                <li><a href="/CPSC349-Project1-Group9{{ page.url }}">{{ page.data.title }}</a></li>
                {%- endfor %}
            </ul>
        </nav>
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
    </header>

    <!-- Main -->
    <main>{{ content }}</main>
</body>
</html>
    
